@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(226, 147, 147);
}
*{ 
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;
}
    
nav ul{
    list-style-type: none; 
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #000;
    color: white;
    
}
.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0 8px;
}

.brand img{
    padding: 0 8px;
    width: 40px;
}

nav ul li {
    padding: 0 12px;
}

li a{ 
    margin: 0 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.container{
    min-height: 72vh;
    background-color: #000; 
    color: white;
    display: flex;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    margin: 23px auto;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(bg.jpg);
}
.bottom{
    position: sticky;
    height: 125px;
    background-color: #000;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.icon{
    margin-top: 14px;
}
.icon i{
    cursor: pointer;
}
#mypbar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin: 12px 0;
    border-radius: 34px;
}
.songItem img{
    width:43px ;
    margin:0 32px ;
    border-radius: 34px;
}
.time{
    margin: 0 23px;
}
.time i{
    cursor: pointer;
}
.sic{
    margin-top: 80px;
}
.songinfo{
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}